<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Employee</display-name>
  <welcome-file-list>
    <welcome-file>empLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmplogoutServlet</display-name>
    <servlet-name>EmplogoutServlet</servlet-name>
    <servlet-class>com.logout.EmplogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmplogoutServlet</servlet-name>
    <url-pattern>/EmplogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploginServlet</display-name>
    <servlet-name>EmploginServlet</servlet-name>
    <servlet-class>com.servlet.EmploginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploginServlet</servlet-name>
    <url-pattern>/EmploginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobcardServlet</display-name>
    <servlet-name>JobcardServlet</servlet-name>
    <servlet-class>com.servlet.JobcardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobcardServlet</servlet-name>
    <url-pattern>/JobcardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TechnicianServlet</display-name>
    <servlet-name>TechnicianServlet</servlet-name>
    <servlet-class>com.servlet.TechnicianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechnicianServlet</servlet-name>
    <url-pattern>/TechnicianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryServlet</display-name>
    <servlet-name>InventoryServlet</servlet-name>
    <servlet-class>com.servlet.InventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryServlet</servlet-name>
    <url-pattern>/InventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkorderServlet</display-name>
    <servlet-name>WorkorderServlet</servlet-name>
    <servlet-class>com.servlet.WorkorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkorderServlet</servlet-name>
    <url-pattern>/WorkorderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>